<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Members List</title>
</head>
<body>
    <h1>Members</h1>
    <form action="/member" method="post">
    <div>
        <ul>
            <li th:each="member : ${members}">
                <span th:text="${member.memberName}">Name</span>
                <!-- 기타 멤버 정보 출력 -->
                <span th:text="${member.memberId}">ID</span>
                <span th:text="${member.memberEmail}">Email</span>
                <span th:text="${member.memberPhone}">Phone</span>
                <!-- 다른 필드들도 필요에 따라 추가 -->
            </li>
        </ul>
    </div>
    </form>
</body>
</html>